// Based on DSB design profile
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';
@import './custom-bs';
$bris-color: #e25923;
$gray-100: $gray-100;

.form-control {
  &.is-invalid, &.is-valid {
    &:focus, &:active {
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.125);
    }
  }
  &.is-valid {
    border-color: $gray-500;
    &:focus, &:active {
      border-color: $gray-700;
    }
  }
  &.is-invalid {
    border-color: $orange;
  }
}

* {
  color: $gray-700;
}

.center {
  grid-area: center;
}
.top {
  grid-area: top;
}
.bottom {
  grid-area: bottom;
}
.left {
  grid-area: left;
}
.right {
  grid-area: right;
}
.filter-tab {
  margin-left: 20vw;
}
.grid-layout {
  display: grid;
  grid-template-rows: 3fr 8fr 1fr;
  grid-template-areas: 
    'top top top top top'
    'left center center center right'
    'bottom bottom bottom bottom bottom';
  grid-gap: 10px;
  padding: 10px;
  height: 80vh;  
}
.grid-layout > div {
  padding: 10px;
}
.ui {
  border-color: $bris-color !important;
  border-radius: 0 !important;
  > .menu {
    border-color: $bris-color !important;
    border-radius: 0 !important;
  }
  .label {
    font-weight: 600 !important;
  }
  .label > .delete.icon:after {
    content: '\D7';
    color: #000;
  }
  .fluid.dropdown > .dropdown.icon {
    color: $bris-color;
  }
  > .default.text {
    color: $gray-600 !important;
    font-weight: 400;
  }
  :active {
    box-shadow: none !important;
  }
}

.inner-container {  
  .picker-button {
    font-size: 28px !important;
  }
}

.multiselect {
  border-radius: 0 !important;
  border: 1px solid $bris-color !important;
  cursor: text;
}

.multiselect__option--highlight {
  background: $bris-color !important;
}

.multiselect__option::after {  
  background: $bris-color !important;
}

.multiselect__option--group {
  background: $gray-300 !important;
}

.multiselect__option--group .multiselect__option--highlight ::after { 
  background: $gray-300 !important;
}

.multiselect__content-wrapper {
  width: 500px !important;
  min-height: 300px !important;
  border: 1px solid $bris-color !important;
  border-radius: 0 !important;
  left: -1px !important;
  box-shadow: 0 !important;
}

.multiselect__tag {
  border-radius: 0 !important;  
  background: $gray-300 !important; 
}

.multiselect__tag-icon {  
  border-radius: 0 !important;
}
.multiselect__tag-icon::after {  
  color: $gray-600 !important;
  font-weight: 600;
  font-size: 1em;
}
.multiselect__tag-icon:focus, .multiselect__tag-icon:hover {
  background: $bris-color !important;
}

.multiselect__tags {
  font-size: 1em !important;
  font-weight: 600 !important;
  border-radius: 0 !important;
  box-shadow: 0 !important;
  border: 0 !important;
  background: 0 !important;
}

.multiselect__tags > span > span.multiselect__single {
  color: $gray-500;
  font-weight: 400 !important;
}

.multiselect__tags > input::placeholder {
  color: $gray-500;
  font-weight: 400 !important;
}
