// Based on DSB design profile
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';
@import './custom-bs';

.form-control {
  &.is-invalid, &.is-valid {
    &:focus, &:active {
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.125);
    }
  }
  &.is-valid {
    border-color: $gray-500;
    &:focus, &:active {
      border-color: $gray-700;
    }
  }
  &.is-invalid {
    border-color: $orange;
  }
}

.primary-colors {
  color: $petrol;
}

.center {
  grid-area: center;
}
.top {
  grid-area: top;
}
.bottom {
  grid-area: bottom;
}
.left {
  grid-area: left;
}
.right {
  grid-area: right;
}

.grid-layout {
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-areas: 
    'top top top top top'
    'left center center center right'
    'bottom bottom bottom bottom bottom';
  grid-gap: 10px;
  padding: 10px;
  height: 80vh;  
}

.grid-layout > div {
  padding: 10px;
  border: 1px solid gray;
}

